<div id="alife-fragment">
	<style type="text/css">
		.alifebutton {
			background-color: #dcdcdc;
			border: 1px solid #666;
			vertical-align: middle;
			color:#000;
			display: table-cell;

			width: 350px;
			height: 300px;
			font-size: 25px;
		}
		
	</style>
	<h1>Configuration done</h1>
	<br />
	<br />
	<div>
		(returning to ALife...)
	</div>
	
	<script type="text/javascript">
		$(function() {
			// This is probably not needed, clicking should directly launch ALife.
		});
	</script>
</div>
