<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" 
		  content="width=1280, height=800,
		  initial-scale = 1.34,
		  minimum-scale = 1.34,
		  maximum-scale = 1.34" />

	<link rel="stylesheet" href="stylesheets/common.css" />
	
	<script src="/libs/qimessaging/1.0/jquery.min.js"></script>
	<script src="/libs/qimessaging/1.0/socket.io.min.js"></script>
	<script src="/libs/qimessaging/1.0/qimessaging.js"></script>

	<script src="scripts/utils_misc.js"></script>
	<script src="scripts/utils_jsonServerMessages.js"></script>
	<!--
	-->
	<script src="scripts/browser_placeholder.js"></script>
	<script src="scripts/page_empty.js"></script>
</head>
<body>
	<div id="page">
	  <div class="centered">
		 (e:please wait)
	  </div>
	</div>

		<!--
		<br/>
		(debug navigation:)<br/>
		<a href="choice.html">Pick Language</a>
		<a href="pick_language.html">Pick Language</a>
		<input type="button" value="Reload" onClick="document.location.reload(true)">

	</div>
		-->
</body>
</html>
