<div id="alife-fragment">
	<style type="text/css">
		.alifebutton {
			background-color: #dcdcdc;
			border: 1px solid #666;
			vertical-align: middle;
			color:#000;
			display: table-cell;

			width: 350px;
			height: 300px;
			font-size: 25px;
		}
		
		#status {
			font-size: 25px;
		}
		
	</style>
	<h1>Orientation</h1>
	<br />
	<div id="status">
		(this will be replaced by a dedicated webpage, that may be launched in fullscreen)
	</div>
	<script type="text/javascript">
		$(function() {
		});
	</script>
</div>
